

.navbar{
    display: flex;
    height: 100px;
    background-color: #3266EA;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    box-sizing: border-box;
}


.logo{
    font-size: 40px;
    padding-left: 50px;
}
.link{
    text-decoration: none;
    color: #000;
    
}

.button{
    display: flex;
    margin-right: 40px;
    border-radius: 15px;
    height: 30px;
    width: 40px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}