

.navbar{
    display: flex;
    height: 150px;
    background-color: #3266EA;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}


.logo{
    font-size: 40px;
    padding-left: 50px;
}
.link{
    text-decoration: none;
    color: #000;
    
}

.button{
    display: flex;
    margin-right: 40px;
    gap: 20px;
    border-radius: 30px;
    background-color: #fff;
    
}