.side-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.sidenav-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 40px;
}
.icon-container{
    display: flex;
    gap: 60px;
}
.icon{
    width: 30px;
    height: 30px;
}
.link{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    font-weight: bold;
}
.sep{
    height: 2px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.185);
}

.icon-container:hover,.link:hover{
    color: #3266EA;
}